.by-line__container-inline
{
    display: inline-block;
    width: 100%;
    font-size: 2em;
}

.by-line__items
{
    float: left;
}

.by-line__author
{
    width: 30%;
}

.by-line__picture
{
    width: 20%;
}

.by-line__date
{
    width: 50%;
}

